.button{
 padding: 20px;
 display: flex;
     max-width: 100%;
     flex-basis: 420px;
     flex-direction: column;
     flex-grow: 100;
     align-items: stretch;
     margin: 300px 20px 10px 100px;
}